@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.main-container {
  display: 'inline-block';
}

/* .add-to-cart:hover {
  color: white;
  background-color: blue;
} */


td {
  font-size: 0.75em;
  padding: 10px;
  border: 1px solid black;
  transition: background-color 1s;
  font-family: 'IBM Plex Mono', monospace;
  width: 25%;
}

.add-to-cart {
  color: 'black';
  background-color: '#12947f';
}

.add-to-cart:hover {
  color: 'white';
  background-color: lightseagreen;
}

.vendorListLabel {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75em;
}

td:hover {
  background-color: rgba(200, 200, 200, 0.25);
}

button {
  cursor: pointer;
  width: 1.75vw;
  height: 1.75vw;
  font-size: 2em;
  transition: color 2s;
  transition: background-color 2s;
  color: lightgray
}
.add {
  margin-left: 0vw;
}
.add:focus {
  color: gray;
}

.subtract {
  margin-right: 10px;
}

.subtract:focus {
  color: gray;
}

button:focus {
  background-color: lightgray;
  outline:0;
}

.main-table {
  text-align: center;
  margin-top: 50px;
}